extends layout

block content
    h1 Anime Destroyer 5.0
    p.text Displays all pieces registered in the last 48h.
    div
        table
            thead
                tr
                    th Piece
                    th Title
                    th User
                    th Block User
                    th Registered
                    th Format
                    th S3 Key
                    th Private
                    th Public
            tbody
                each piece in pieces
                    tr
                        td: a(href='https://www.ascribe.io/app/pieces/' + piece.id + '/', target='_blank') Piece on Ascribe
                        td !{piece.title}
                        td !{piece.email}
                        if piece.is_active
                            td
                                form(method='post', action='users')
                                    input(type='hidden', name='email', value=piece.email)
                                    input(type='hidden', name='active', value='false')
                                    input(type='submit', value='Deactivate User')
                        else
                            td
                                form(method='post', action='users')
                                    input(type='hidden', name='email', value=piece.email)
                                    input(type='hidden', name='active', value='true')
                                    input(type='submit', value='Activate User')
                        td !{piece.datetime_registered}
                        if piece.digital_work_file.split('.').pop().length <= 4
                            td
                                !{piece.digital_work_file.split('.').pop()}
                        else
                            td.text unknown
                        td(style='padding-right:1em')
                            a(href='https://ascribe0.s3.amazonaws.com/' + piece.digital_work_file, target='_blank') Link to file
                        td
                            form(method='post', action='keys')
                                input(type='hidden', name='key' value=piece.digital_work_file)
                                input(type='hidden', name='acl' value='private')
                                input(type='submit', value='Make Private')
                        td
                            form(method='post', action='keys')
                                input(type='hidden', name='key' value=piece.digital_work_file)
                                input(type='hidden', name='acl' value='public-read')
                                input(type='submit', value='Make Public')
