extends layout

block content
    h1 Anime Destroyer 5.0
    p.text Displays all pieces registered in the last 48h.
    div
        table
            thead
                tr
                    th Piece
                    th Title
                    th Registered
                    th User
                    th Format
                    th S3 Key
                    th Private
                    th Public
            tbody
                each piece in pieces
                    tr
                        td: a(href='https://www.ascribe.io/app/pieces/' + piece.id + '/', target='_blank') Piece on Ascribe
                        td !{piece.title}
                        td !{piece.email}
                        td !{piece.datetime_registered}
                        td
                            !{piece.digital_work_file.split('.').pop()}
                        td(style='padding-right:1em')
                            a(href='https://ascribe0.s3.amazonaws.com/' + piece.digital_work_file, target='_blank') Link to file
                        td
                            form(method='post', action='keys')
                                input(type='hidden', name='key' value=piece.digital_work_file)
                                input(type='hidden', name='acl' value='private')
                                input(type='submit', value='Make Private')
                        td
                            form(method='post', action='keys')
                                input(type='hidden', name='key' value=piece.digital_work_file)
                                input(type='hidden', name='acl' value='public-read')
                                input(type='submit', value='Make Public')
